@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(150, 31, 31);
    --white-color: white;
    --gray: rgb(188, 188, 188);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h2 {
  font-size: 18px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: var(--white-color);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.502);
    text-align: center;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 7px;
}

form input:focus {
    outline: 2px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 300ms ease-in-out;
}

form button:hover {
  background: var(--white-color);
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
}

form button:active {
  background: var(--gray);
}

.paragrafo-resultado, .bad{
  background: rgb(33, 255, 166);
  padding: 20px 10px;
  border-radius: 7px;
}

.bad {
background: rgb(255, 104, 104);
}

.relogio {
  font-size: 3em;
}

.pausado {
  color: red;
}

button {
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 300ms ease-in-out;
}
button:hover {
  background: var(--white-color);
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
}

button:active {
  background: var(--gray);
}